venv/
.venv/
env/
.env/

cron.yml

__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/

.env
.env.*
!/.env.example

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.sublime-workspace

.DS_Store
Thumbs.db

predictive_model/py_files/spaceapp
.predictive_model/py_files/spaceapp

predictive_model/py_files/db_nasa_data
predictive_model/py_files/db_plots

