---
import '../styles/global.css';
// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
import Layout from '../layouts/layout.astro';
import Sidebar from '../components/sidebar.astro';
import MapboxMap from '../components/MapboxMap';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>SharkNet</title>
	</head>

	<body>
		<Layout title="outletbuddy">
  <div class="flex h-screen bg-zinc-900">
    <!-- <Sidebar /> -->
    <div id="map-container" class="flex-1 bg-zinc-800">
      <MapboxMap client:load />
    </div>
  </div>
</Layout>
	</body>
</html>
